.logo {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  margin-top: calc(var(--space-xs) * -1);
}

.logoFill {
  width: 100%;
}

.image {
  width: auto;
  height: auto;
  max-width: 100%;
}

.fillWidth {
  width: 100%;
  max-width: none;
}

.imageSM {
  max-width: 104px;
}

.imageMD {
  max-width: 138px;
}

.imageLG {
  max-width: 205px;
}

.imageXL {
  max-width: 270px;
}

.imageXXL {
  max-width: 340px;
}

.imageXXXL {
  max-width: 460px;
}

.imageXXXXL {
  max-width: 442px;
}

@media (max-width: 640px) {
  .imageSM {
    max-width: 92px;
  }

  .imageMD {
    max-width: 122px;
  }

  .imageLG {
    max-width: 176px;
  }

  .imageXL {
    max-width: 210px;
  }

  .imageXXL {
    max-width: 260px;
  }

  .imageXXXL {
    max-width: 320px;
  }

  .imageXXXXL {
    max-width: 300px;
  }
}
